.swal2-popup {
  background-color: #373c42 !important;
  color: #ebebeb !important;
}

.swal2-title {
  color: #ffffff !important;
}

.swal2-content {
  color: #cfcfcf !important;
}

.swal2-confirm {
  background-color: #87969c !important;
  border: 2px solid white !important;
  outline: none !important;
  color: #ffffff !important;
}

.swal2-confirm:hover {
  background-color: #95c0d1 !important;
}

.swal2-icon {
  color: #ffffff !important;
}

.swal2-icon.swal2-error {
  border-color: #e74c3c !important;
}

.swal2-icon.swal2-success {
  border-color: #2ecc71 !important;
}

.swal2-icon.swal2-warning {
  border-color: #f1c40f !important;
}

.swal2-icon-content {
  color: #ffffff !important;
}
